html, body, #map {
  height: 100%;
  margin: 0px;
  padding: 0px

  -webkit-transform: rotateZ(360deg);
}

input, textarea, select {
  display: block;
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
  margin: 3px 0;
}
.btn.atk {
  color: red;
}
.btn.def {
  color: green;
}
.btn.act {
  color: orange;
}
.btn.ctr {
  color: red;
}